$primaire:rgb(220, 220, 220);
$secondaire:  #161616;
$tertiaire: rgba(102, 11, 11, 0.6);


$tertiaire-dark: $tertiaire;
$tertiaire-light: rgba(146, 17, 17, 0.212);
$bgOpacity: rgba(0,0,0,0.1);
$bgOpacityLight: rgba(255,255,255,0.1);
$toggle-size: 3em;
$toggle-line-color: $secondaire;
$toggle-line-focus-color: $secondaire + 30;
$toggle-line-size: $toggle-size/8;
$toggle-line-angle: 405deg;
$toggle-anim-speed: 1.2s;