$primaire:rgb(230, 230, 230);
$secondaire:  #161616;

$toggle-size: 3em;
$toggle-line-color: $secondaire;
$toggle-line-focus-color: $secondaire;
$toggle-line-size: $toggle-size/8;
$toggle-line-angle: 405deg;
$toggle-anim-speed: 1.2s;